p{
    font-family: Roboto , Arial;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    padding-top:60px ;
    margin: 0;
    padding-left: 80px;
}
.search-button{
    height: 30px;
    width: 60px;
    padding-bottom: 40px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -3px;
    margin-right: 10px;
}
.upload-icons{
    height: 24px;
}
.youtube-apps-icons{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.current-user-picture{
border-radius: 40px;
height: 32px;
}
.side-bar-link{
    height: 76px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-bar-link:hover{
    background-color: rgb(241, 233, 233);
}
.side-bar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}
.vbh{
    padding: 22px;
}
.ph{
    text-align: center;
    font-size: 12px;
}
